{{yield}}

<section class="section" id="{{sectionid}}">
<h2>{{title}}</h2>
{{markdown-to-html markdown=content}}
    <footer class="visuallyhidden">
      Publsihed by {{author}} on {{date}}
    </footer>
</section>