{{outlet}}
<section class="lo-auron-2-3">

<ul>

{{#each model as |file|}}
<li id="{{file.name}}">
  <a href="http://hiof.no/assets/plugins/designguidelines-files/{{file.url}}">{{file.filename}}</a>

</li>
{{/each}}
</ul>
</section>

<aside class="lo-auron-1-3">
  <nav>
    <ul>
    <li><a href="/">Designmal</a></li>
    <li><a href="/files">Nedlastbare filer</a><!--<ul>
      {{#each model as |file|}}
        <li><a href="#{{file.name}}">{{file.name}}</a></li>
      {{/each}}
    </ul>-->
    </li>
    </ul>
  </nav>
</aside>