{{outlet}}
<section class="lo-auron-2-3">
<h1>Designmal</h1>
{{#each model as |post|}}
<section class="section" id="{{post.basename}}">
  <h2>{{post.title}}</h2>
{{markdown-to-html markdown=post.preview}}

  <aside class="visuallyhidden">
    Publsihed by {{post.author}} on {{post.date}}
  </aside>
</section>
{{/each}}
</section>


<aside class="lo-auron-1-3">
  <nav class="nav" data-spy="affix" data-offset-top="20">
    <ul>
    <li><a href="/">Designmal</a><ul>
      {{#each model as |post|}}
        <li><a href="#{{post.basename}}">{{post.title}}</a></li>
      {{/each}}
    </ul></li>
    <li><a href="/filer">Nedlastbare filer</a>
    </li>
    </ul>
  </nav>
</aside>