{{outlet}}






<section id="designmal" class="lo-auron-2-3">
  <h1>Designmal</h1>
{{#each model.data as |post|}}
  {{#content-section title=post.attributes.title content=post.attributes.preview sectionid=post.attributes.basename author=post.attributes.author date=post.attributes.date}}

  {{/content-section}}
{{/each}}
</section>



<section id="dukumentmaler" class="lo-auron-2-3">
  <h1>Dokumentmaler</h1>
{{#each model.included as |post|}}
  {{#content-section title=post.attributes.title content=post.attributes.body sectionid=post.attributes.title author=post.attributes.author date=post.attributes.date}}

  {{/content-section}}
{{/each}}
</section>


<section id="nettsidekomponenter" class="lo-auron-2-3">
  <h1>Nettsidekomponenter</h1>
</section>

<aside class="lo-auron-1-3 float-right">
  <nav class="nav" data-spy="affix" data-offset-top="20">
    <ul>
    <li><a href="#designmal">Designmal</a><ul>
      {{#each model.data as |post|}}
        <li><a href="#{{post.attributes.basename}}">{{post.attributes.title}}</a></li>
      {{/each}}
    </ul></li>
    <li><a href="#dukumentmaler">Dokumentmaler</a><ul>

      {{#each model.included as |dt|}}
        <li><a href="#{{dt.attributes.title}}">{{dt.attributes.title}}</a></li>
      {{/each}}</ul>
    </li>
    <li><a href="#nettsidekomponenter">Nettside komponenter</a></li>
    </ul>
  </nav>
</aside>