<section class="content col-md-8">
  <header>
    <h1 class="display-1" id="top">Dokumentmaler</h1>
  </header>

  {{#each model.data as |post|}}
  {{content-section  type=post.type basename=post.attributes.slug title=post.attributes.title content=post.attributes.body  author=post.attributes.author date=post.attributes.date illustration=post.attributes.illustration assetpath=post.attributes.assetpath url=post.attributes.relatedassets}}
  {{/each}}
</section>
<aside class="internal-nav col-md-4">
  <ul class="nav flex-column fixedsticky">
    {{#each model.data as |post|}}
    <li class="nav-item" {{action "goToSection"}}>
      {{#link-to 'template' (query-params del=post.attributes.slug) class="nav-link" }}{{post.attributes.title}}{{/link-to}}
    </li>
    {{/each}}
  </ul>
</aside>


<aside class="internal-nav-top">
  <ul>
    <li class="nav-item"{{action "goToSection"}}>{{#link-to 'template' (query-params del="top") class="btn btn-primary" }}{{post.attributes.title}}til toppen{{/link-to}}</li>
  </ul>
</aside>
