


<section class="content col-md-9">
  <header>
    <h1 class="display-1" id="top">Stilguide</h1>
  </header>

  {{#each model.data as |post|}}

  {{content-section data-section-id=post.attributes.slug basename=post.attributes.slug type=post.type content=post.attributes.comment sectionid=post.attributes.slug titletype=post.attributes.titletype markup=post.attributes.result}}



  {{!--
  {{{post.attributes.comment}}}

  {{{post.attributes.markup}}}
  {{{post.attributes.result}}}{{{post.attributes.markup}}}--}}



  {{!content-section type=post.type content=post.attributes.comment}}
  {{/each}}

</section>
<aside class="internal-nav col-md-3">
  <ul class="nav flex-column nav-pills fixedsticky">
    {{#each model.data as |post|}}
    {{#if (eq post.attributes.titletype 2)}}
    <li class="nav-item" {{action "goToSection"}}>
      {{#link-to 'webcomponent' (query-params del=post.attributes.slug) class="nav-link" }}{{post.attributes.title}}{{/link-to}}
    </li>

    {{else if (eq post.attributes.titletype 3)}}
    <ul>
      <li class="nav-item" {{action "goToSection"}}>
        {{#link-to 'webcomponent' (query-params del=post.attributes.slug) class="nav-link" }}{{post.attributes.title}}{{/link-to}}
      </li>
    </ul>
    {{/if}}
    {{/each}}
  </ul>
</aside>
<aside class="internal-nav-top">
  <ul>
    <li class="nav-item"{{action "goToSection"}}>{{#link-to 'webcomponent' (query-params del="top") class="btn btn-primary" }}{{post.attributes.title}}til toppen{{/link-to}}</li>
  </ul>
</aside>
